/* Universal Styles */
body {
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

header {
  position: fixed;
  z-index: 1;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  height: 50px;
  padding-left: 10px;
}

header nav {
  padding-right: 20px;
}

header nav a {
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: underline;
  color: inherit;
}

.content {
  display: flex;
  flex-direction: column;
  width: 1200px;
  padding-top: 69px;
  margin: 0 auto 0 auto;
}

.mission {
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 700px;
  background-image: url("../images/img-mission-background.jpg");
  justify-content: center;
}

.mission-text {
  background-color: black;
}

.teaofthemonth {
  width: 1000px;
  margin: 0 auto 0 auto;
}

.teaofthemonth-text {
  padding-top: 40px;
}

.teaofthemonth-images {
  display: flex;
  flex-wrap: wrap;
}

.teaofthemonth-images img {
  width: 300px;
  height: 200px;
}
